.jumbotron
{
    background-color: #581845;
    color: white;
    margin-top: 50px;
}

.btn
{
    background-color: #EADAA2;
    color: black;
}

footer
{
    padding: 10px 10px 0 10px;
    background-color: #581845;
    margin-bottom: 0px; 
    margin-top: 10px;
    color: white;
}

.card-hotel
{
    flex: 1 600px;
    margin-top: 10px;
}

.btn-reserva
{
    width: 100%;
    border-radius: 0px;
    
}

.footer-address-icon
{
    padding-right: 10px;
   
}